<div class="col-sm">
    {{#each article}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{headline}}</h5>
            <p class="card-text" >{{summary}}</p>
            <a href="{{url}}" class="card-link">Link to Article</a>
        </div>
    </div>

    {{/each}}
</div>