<h1>Input</h1>
<form action="/submit" method="post">
  <div class="form-group">
    <label for="ArticleInput">Headline</label>
    <input type="text" class="form-control" id="ArticleInput" name="headline">
  </div>
    <div class="form-group">
    <label for="ArticleInput">URL</label>
    <input type="text" class="form-control" id="ArticleInput" name="url">
  </div>
  <div class="form-group">
    <label for="ArticleInput">Article Summary</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"vname="summary"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>