<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add an Article</h1>
    <p class="lead"><a href="/articles">...or see your articles!</a></p>
  </div>
</div>

<form action="/submit" method="post">
  <div class="form-group">
    <label for="ArticleInput">Headline</label>
    <input type="text" class="form-control" id="ArticleInput" name="headline">
  </div>
  <div class="form-group">
    <label for="ArticleInput">URL</label>
    <input type="text" class="form-control" id="ArticleInput" name="url">
  </div>
  <div class="form-group">
    <label for="ArticleInput">Article Summary</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="summary"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
<br/>
<a href="/articles">See your articles!</a><br />
